<!doctype html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <% include ('common/nav') %>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">

                <h1>Home Page</h1>

                <p>Welcome to the InstaDemo application.</p>

                <p>You can use this application to showcase your Instagram-like features or any other functionality you
                    desire.</p>

                <p>Feel free to explore the different features and interact with the application.</p>

                <p>If you have any questions or need assistance, please don't hesitate to contact us.</p>

                <hr>

                <p>Go to <a href="/myProfile">My Profile</a>.</p>
                <p>Go to <a href="/login">Login</a>.</p>
                <p>Go to <a href="/register">Register</a>.</p>

                <div class="text-center">
                    <p>A demo by Ayush Chodvadiya.</p>
                </div>

            </div>
        </div>
</body>

</html>